<div class="modal fade" id="exampleModaltres" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
    <div class="modal-content">     <i class="bi bi-question-circle-fill text-center  icono-personalizado "></i>
      <div class="modal-header ">
   
      
      <h5 class=" text-center container-md"> Tu opinión es fundamental para construir juntos un servicio excepcional</h5>
      </div>
      <div class="modal-body justify-content-center ">
      <form>
        <div class="form-group">
            <label for="message-text" class="col-form-label"></label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
      </form>
      <br>
      </div>
      <div class="modal-footer justify-content-center ">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
      <button type="button" >Enviar</button>
      </div>
    </div>
    </div>
  </div>
  


<footer class="text-center text-lg-start text-muted pt-1 bg-body-tertiary bg-cover">
    
    <section>
        <br>
 

    <div class="container text-center text-md-start mt-1 ">
        <div class="row ">
            <div class=" col-lg-2 col-xl-4 mx-auto mb-2 ">
        
                <p>
                    Organizamos experiencias inolvidables adaptadas al clima de tu ciudad, creando actividades que se ajustan al pronóstico del tiempo.
                </p>
            </div>

            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-2 ">
            
                <p>
                    <a href="https://facebook.com/" class="text-reset bi bi-facebook text-decoration-none"> Plan_Out</a>
                </p>
                <p>
                    <a data-toggle="modal" data-target="#exampleModaltres" data-whatever="@mdo"  class="text-reset bi bi-envelope text-decoration-none"> PQRS</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-2">
            
                <p><i class="bi bi-pin-map-fill me-3"></i>Colombia</p>
                <p><i class="bi bi-telephone-fill me-3"></i>+ 601 846 758
            </div>
        </div>
    </div>
</section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold">INVICTUS</a>
        <br>
        <a>Todos los Derechos Reservados</a>
    </div>   

</footer>