<div class="modal fade" id="exampleModalone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog text-center" role="document">
    <div class="modal-content ">
      <div class="modal-header text-center">
        <h5 class="text-center container-md" id="exampleModalLabel">Actividades</h5>
      </div>
      <div class="modal-body">        
<div class="container mt-2">
  <h5>Tranquilo:</h5>
  <ul class="list-group">
      <li class="list-group-item">Paseos por el parque.</li>
      <li class="list-group-item">Lectura en un entorno tranquilo.</li>
      <li class="list-group-item">Picnic en la playa o en el campo.</li>
      <li class="list-group-item">Meditación o yoga.</li>
      <li class="list-group-item">Visita a un spa.</li>
  </ul>

  <h5 class="mt-2">Extremo:</h5>
  <ul class="list-group">
      <li class="list-group-item">Deportes de aventura como paracaidismo, parapente o rafting.</li>
      <li class="list-group-item">Escalada en roca.</li>
      <li class="list-group-item">Senderismo en terrenos difíciles.</li>
      <li class="list-group-item">Buceo en aguas profundas.</li>
      <li class="list-group-item">Snowboard o esquí extremo.</li>
  </ul>

  <h5 class="mt-2">Romántico:</h5>
  <ul class="list-group">
      <li class="list-group-item">Cena a la luz de las velas.</li>
      <li class="list-group-item">Paseo en bote al atardecer.</li>
      <li class="list-group-item">Escapada de fin de semana.</li>
      <li class="list-group-item">Noche de cine en casa.</li>
      <li class="list-group-item">Visita a un viñedo.</li>
  </ul>

  <h5 class="mt-2">Cultural:</h5>
  <ul class="list-group">
      <li class="list-group-item">Visita a museos o galerías de arte.</li>
      <li class="list-group-item">Asistencia a una obra de teatro o concierto.</li>
      <li class="list-group-item">Participación en eventos culturales locales.</li>
      <li class="list-group-item">Viajes a lugares históricos.</li>
      <li class="list-group-item">Clases de cocina o degustación de vinos.</li>
  </ul>

  <h5 class="mt-2">Deportivo:</h5>
  <ul class="list-group">
      <li class="list-group-item">Practicar deportes como tenis, golf o ciclismo.</li>
      <li class="list-group-item">Asistir a eventos deportivos.</li>
      <li class="list-group-item">Hacer ejercicio juntos, como correr o hacer yoga.</li>
      <li class="list-group-item">Jugar a deportes recreativos, como voleibol o bádminton.</li>
  </ul>

  <h5 class="mt-2">Educativo:</h5>
  <ul class="list-group">
      <li class="list-group-item">Tomar clases juntos, como idiomas o baile.</li>
      <li class="list-group-item">Asistir a conferencias o charlas.</li>
      <li class="list-group-item">Realizar actividades de aprendizaje, como talleres de arte o manualidades.</li>
      <li class="list-group-item">Visitar un planetario o observatorio.</li>
  </ul>

  <h5 class="mt-2">Aventura al aire libre:</h5>
  <ul class="list-group">
      <li class="list-group-item">Campamento.</li>
      <li class="list-group-item">Excursiones a parques naturales.</li>
      <li class="list-group-item">Safari fotográfico.</li>
      <li class="list-group-item">Observación de aves.</li>
      <li class="list-group-item">Pesca.</li>
  </ul>
   </div>  
      </div>
    </div>
  </div>
</div>

<app-navbar></app-navbar>

<div class="carrusel">
  <!-- Contenido del carrusel -->
  <div class="slide" id="slide1"></div>
  <div class="slide" id="slide2"></div>
  <div class="slide" id="slide3"></div>
</div>

<div class="line-two">
  <p class="text-two">Planifica tu día, sin importar el clima. <strong>Tu determinación es más fuerte que cualquier tormenta</strong></p>
</div>

<form [formGroup]="preferencesForm" (ngSubmit)="onSubmit()">
<div class="container text-left">
  <div class="row">
    <div class="col-lg">
      <div class="calendar"> 
        <div class="header">
          <button id="prev" (click)="prevMonth()">&#9665;</button>
          <span class="text" id="month-year" formControlName="month-year">{{ months[currentDate.getMonth()] }} {{ currentDate.getFullYear() }}</span>
          <button id="next" (click)="nextMonth()">&#9655;</button>
        </div>
        <table id="calendar-table">
          <thead>
            <tr>
              <th>Lun</th>
              <th>Mar</th>
              <th>Mié</th>
              <th>Jue</th>
              <th>Vie</th>
              <th>Sáb</th>
              <th>Dom</th>
            </tr>
          </thead>
          <tbody id="calendar-body">
            <tr *ngFor="let week of calendar">
              <td *ngFor="let day of week" (click)="selectDate(day)"[class.selected]="day === selectedDay">
                {{ day ? day : '' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg">
      <div class="containertwo">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_name"><i class="bi bi-geo-alt-fill"></i> Ciudad*</label>
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Ubicación*" required="required" formControlName="location">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1"><i class="bi bi-person-fill"></i> Personas</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="peopleCount">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>Mas</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="planType"><i class="bi bi-bookmark-star-fill"></i> Plan </label>
                <select class="form-control" id="planType" formControlName="planType">
                  <option>Familiar</option>
                  <option>Pareja</option>
                  <option>Amigos</option>
                  <option>Solo</option>
                  <option>Cita</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="activityType"><i data-toggle="modal" data-target="#exampleModalone" data-whatever="@mdo" class="bi bi-info-circle-fill text-primary"  ></i> Actividad</label>
                <select class="form-control" id="activityType" formControlName="activityType">
                  <option>Tranquila</option>
                  <option>Extrema</option>
                  <option>Romantica</option>
                  <option>Cultural</option>
                  <option>Deportivo</option>
                  <option>Educativo</option>
                  <option>Aventura al Aire Libre</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="form_message">Comparte con nosotros tus preferencias para ese día, y te ofreceremos una actividad personalizada que se adapte a tus gustos y deseos* <br></label>
                <textarea id="form_message" name="message" class="form-control" placeholder="Cuéntanos*" rows="6" required="required" formControlName="additionalPreferences"></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <br>   

                <button type="submit" class="button"  value="Send message" onclick="this.classList.toggle('button--loading')"> 
                  <span class="button__text"> ENVIAR </span> 
                </button>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</form>
<div class="modal fade" id="chatptModal" tabindex="-1" role="dialog" [class.show]="isModalShown" [style.display]="isModalShown ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content chat-modal">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title align-text-center justify-content-center" >Detalles del Plan</h5>
        
      </div>
      <div class="modal-body">
        <p [innerHTML]="chatptDetails" style="text-align: justify"></p>
      </div>
      <div class="modal-footer justify-content-center ">
        <button type="button"  class="btn btn-secondary" data-dismiss="modal"  >Guardar</button>
             <!-- Botón de cierre modificado para llamar a hideModal() -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()" >Salir </button>
        </div>
    </div>
  </div>
</div>

<app-mapa></app-mapa>
<app-footer></app-footer>