<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <i class="bi bi-chat-dots-fill text-center icono-personalizado"></i>
      <div class="modal-header">
        <h5 class="text-center container-md">Si no recuerdas tu información, te ayudaremos</h5>
      </div>
      <div class="modal-body justify-content-center">
        <form (ngSubmit)="sendEmail()">
          <div class="form-group">
            <span>Ingresa tu CORREO</span>
            <input type="email" name="login" [(ngModel)]="userEmail" placeholder="Correo Electrónico" />
          </div>

          <div *ngIf="emailSentSuccess" class="success-message">
            <p>{{ successMessage }}</p>
          </div>
        </form>
        <br>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
        <button type="button" (click)="sendEmail()">Enviar</button>
      </div>
    </div>
  </div>
</div>

<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <img [src]="rutaImagen" alt="logo" class="logologin">
      <span>Ingresa tus datos</span>
      <input type="email" formControlName="email" placeholder="Correo Electrónico" />
      <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
        <p class="error-message">El correo electrónico es obligatorio</p>
      </div>
      <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
        <p class="error-message">Ingrese un correo electrónico válido</p>
      </div>
      <input type="password" formControlName="password" placeholder="Contraseña" />

      <div *ngIf="credentialsError" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

      <a data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">¿Olvidaste tu contraseña?</a>
      <a routerLink="/register" class="register">Crear una cuenta</a>

      <div *ngIf="loginForm.valid && credentialsError">
        <p class="error-message">Credenciales incorrectas. Verifica tu correo y contraseña</p>
      </div>
      
      <div *ngIf="!loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched && credentialsError">
        <p class="error-message">{{ errorMessage }}</p>
      </div>
      <button type="submit">Inicia Sesión</button>
    </form>
  </div>
  <div class="overlay-panel overlay-right">
    <h1>¡Bienvenido!</h1>
    <p>Disfruta y programa tu día de acuerdo al clima, ¡No dejes que nada te desanime!</p>
    <button routerLink="/register" class="ghost" id="signUp">Regístrate</button>
  </div>
</div>
<router-outlet></router-outlet>